<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input name="username" type='text' ng-model='user.username' ng-pattern="validUser.word" ng-minlength="3" ng-maxlength="15">
    <input type="password" ng-model='user.password'>
    <button>signup</button>
    <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
    <div role="alert">
      <ul>
      <li class="error" ng-show="signupForm.username.$error.pattern">Username cannot contain any special character.</li>
      <li class="error" ng-show="signupForm.username.$error.minlength">Username must be at least 3 characters.</li>
      <li class="error" ng-show="signupForm.username.$error.maxlength">Username cannot be more than 15 characters.</li>
      </ul>
    </div>
  </form>
</div>
